{% load static %}

<link rel="apple-touch-icon" sizes="120x120" href="{% static 'icons/apple-touch-icon.png' %}">
<link rel="icon" type="image/png" sizes="32x32" href="{% static 'icons/favicon-32x32.png' %}">
<link rel="icon" type="image/png" sizes="16x16" href="{% static 'icons/favicon-16x16.png' %}">
<link rel="mask-icon" color="#226997" href="{% static 'icons/safari-pinned-tab.svg' %}">
<link rel="shortcut icon" href="{% static 'icons/favicon.ico' %}">
<meta name="apple-mobile-web-app-title" content="Gab's Notes">
<meta name="application-name" content="Gab's Notes">
<meta name="msapplication-TileColor" content="#226997">
<meta name="msapplication-config" content="/static/icons/browserconfig.xml">
<meta name="theme-color" content="#ffffff">
