#id_content,
#id_custom_css {
    font-family: monospace;
    min-height: 30em;
    resize: vertical;
    font-size: 1rem;
}

#id_content {
    width: calc(100% - 1em);
    height: 38em;
}

label[for="id_content"],
label[for="id_custom_css"] {
    display: none;
}
