body {
    /* Overriding so that it doesn't change even when updating the library. */
    max-width: 750px;
}

h1, h2, h3 {
    border-bottom: unset;
}

img {
    border-radius: 5px;
}

footer {
    font-size: 80%;
    color: var(--nc-tx-2);
}

footer > :first-child {
    margin-top: 1em;
}

nav a:not(:first-child):before, a.tag:not(:first-of-type):before {
    content: '\00B7';
    margin: 0 5px;
    color: var(--nc-tx-1);
    text-decoration: none;
    display: inline-block;
}

#reply {
    text-align: center;
    margin-top: 2em;
}

#reply a button {
    font-size: 1.2rem;
    padding: 8px 16px;
}
