{% extends 'articles/base.html' %}

{% block title %}
    {{ title_header }}
{% endblock %}
{% block content %}
    <h1>{{ blog_title }}{% if title %} &middot; {{ title }}{% endif %}</h1>
    <p class="metadata">{{ blog_description }}</p>
    {% for article in articles %}
        <article class="article-list">
            <h2><a href="{% url 'article-detail' slug=article.slug %}">{{ article.title }}</a></h2>
            {% include "articles/metadata_snippet.html" %}
            {{ article.get_abstract|safe }}
            <p class="read-more"><a href="{% url 'article-detail' slug=article.slug %}">Read more...</a></p>
        </article>
    {% empty %}
        <p>No article here. Come back later 🙂</p>
    {% endfor %}
    <nav class="pagination">
        <div class="older">
            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}">⇠ Older</a>
            {% endif %}
        </div>
        <div class="newer">
            {% if page_obj.has_previous %}
                <a href="?page={{ page_obj.previous_page_number }}">Newer ⇢</a>
            {% endif %}
        </div>
    </nav>
{% endblock %}
