{% extends 'articles/base.html' %}

{% block append_header %}
    <style>
        {{ article.custom_css }}
    </style>
{% endblock %}

{% block title %}{{ article.title }} | {% endblock %}

{% block content %}
    <article>
        <h1>{{ article.title }}{% if article.status != article.PUBLISHED %}
            ({{ article.status }}){% endif %}</h1>
        {% include "articles/snippets/metadata.html" %}
        <div>
            {{ article.get_formatted_content|safe }}
        </div>
    </article>
{% endblock %}
