{% extends 'articles/base.html' %}

{% block content %}
    <h1>{{ title }} list</h1>
    {% for article in articles %}
        <article>
            <h2><a href="{% url 'article-detail' pk=article.pk %}">{{ article.title }}</a></h2>
            {% include "articles/metadata_snippet.html" %}
            <p>{{ article.get_abstract|safe }}</p>
            <p><a href="{% url 'article-detail' pk=article.pk %}">Read more</a></p>
        </article>
    {% empty %}
        <p>No article here. Come back later 🙂</p>
    {% endfor %}
{% endblock %}
