{% extends 'articles/base.html' %}

{% block content %}
    <h1>{{ title }} list</h1>
    {% for article in articles %}
        <article class="article-list">
            <h2><a href="{% url 'article-detail' slug=article.slug %}">{{ article.title }}</a></h2>
            {% include "articles/metadata_snippet.html" %}
            <p>{{ article.get_abstract|safe }}</p>
            <p class="read-more"><a href="{% url 'article-detail' slug=article.slug %}">Read more...</a></p>
        </article>
    {% empty %}
        <p>No article here. Come back later 🙂</p>
    {% endfor %}
    <div class="pagination">
        <div class="older">
            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}">⇠ Older</a>
            {% endif %}
        </div>
        <div class="newer">
            {% if page_obj.has_previous %}
                <a href="?page={{ page_obj.previous_page_number }}">Newer ⇢</a>
            {% endif %}
        </div>
    </div>
{% endblock %}
