{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}Home{% endblock %} | Gab's Notes</title>
    <link rel="stylesheet" id="code-light" href="{% static 'code-light.css' %}" type="text/css">
    <link rel="stylesheet" id="code-dark" href="{% static 'code-dark.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'style.css' %}" type="text/css">
    <script src="{% static 'toggle-dark-mode.js' %}" async></script>
    <link rel="alternate" type="application/rss+xml" title="Gab's Notes » Feed" href="{% url 'complete-feed' %}">
    {% include "articles/favicon.html" %}
</head>
<body>
<nav>
    <a href="{% url 'articles-list' %}">Gab's Notes</a>
    |
    {% if user.is_authenticated %}
        <a href="{% url 'drafts-list' %}">View drafts <span class="pill">{{ drafts_count }}</span></a>
        <a href="{% url 'admin:index' %}">Admin</a>
    {% else %}
        <a href="{% url 'admin:login' %}?next=/">Log in</a>
    {% endif %}
    {% if pages %}
        |
        {% for page in pages %}
            <a href="{% url 'article-detail' slug=page.slug %}">{{ page.title }}</a>
        {% endfor %}
    {% endif %}
</nav>
{% if messages %}
    <div class="messages">
        {% for message in messages %}
            <p class="{{ message.level_tag }}">{{ message|safe }}</p>
        {% endfor %}
    </div>
{% endif %}
<div class="content">
    {% block content %}
    {% endblock %}
</div>

<footer>
    <p>
        Thoughts written here are my own and dont reflect any of my past, present
        or future employer's position.
        The platform behind this blog is <a href="https://git.sr.ht/~crocmagnon/blog">free software</a>.
        This blog and all articles by Gabriel Augendre are licensed under the
        <a href="http://creativecommons.org/licenses/by-sa/4.0/">CC BY-SA 4.0 International License</a>.
        Code blocks by Gabriel Augendre are licensed under the
        <a href="https://www.gnu.org/licenses/gpl-3.0.html">GNU GENERAL PUBLIC LICENSE version 3</a>.
    </p>
</footer>
</body>
</html>
