{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}Home{% endblock %} | Gab's Notes</title>
    <link rel="stylesheet" href="{% static 'style.css' %}" type="text/css">
    <link rel="alternate" type="application/rss+xml" title="Gab's Notes » Feed" href="{% url 'complete-feed' %}">
</head>
<body>
<nav>
    <a href="{% url 'articles-list' %}">Gab's Notes</a>
    |
    {% if user.is_authenticated %}
        <a href="{% url 'drafts-list' %}">View drafts</a>
        <a href="{% url 'admin:index' %}">Admin</a>
    {% else %}
        <a href="{% url 'admin:login' %}?next=/">Log in</a>
    {% endif %}
    {% if pages %}
        |
        {% for page in pages %}
            <a href="{% url 'article-detail' slug=page.slug %}">{{ page.title }}</a>
        {% endfor %}
    {% endif %}
</nav>
<div class="content">
    {% block content %}
    {% endblock %}
</div>
</body>
</html>
