{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="Gabriel Augendre">
    <meta name="color-scheme" content="light dark">
    {% include "articles/snippets/page_metadata.html" %}
    <title>{% block title %}Home | {% endblock %}{{ blog_title }} by {{ blog_author }}</title>
    <link rel="alternate" type="application/rss+xml" title="Gab's Notes » Feed" href="{% url 'complete-feed' %}">
    {% include "articles/snippets/style.html" %}
    {% if article and article.has_code %}
        {% include "articles/snippets/code_style.html" %}
    {% endif %}
    {% if user.is_authenticated %}
        <script src="{% static 'edit-keymap.js' %}" async></script>
    {% endif %}
    {% include "articles/snippets/favicon.html" %}
    {% include "articles/snippets/analytics.html" %}
    {% block override_header %}{% endblock %}
</head>
<body>
<header>
    <h1>{{ blog_title }}</h1>
    <p>{{ blog_description }}</p>
    <nav>
        <a href="{% url 'articles-list' %}">Home</a>
        &centerdot;
        <a href="{% url 'complete-feed' %}">RSS</a>
        &centerdot;
        {% if user.is_authenticated %}
            <a href="{% url 'admin:articles_article_add' %}">Write</a>
            &centerdot;
            <a href="{% url 'drafts-list' %}">View drafts <span class="pill">{{ drafts_count }}</span></a>
            &centerdot;
            <a href="{% url 'admin:index' %}">Admin</a>
            &centerdot;
            <a href="{% url 'admin:logout' %}?next=/">Log out</a>
        {% else %}
            <a href="{% url 'admin:login' %}?next=/">Log in</a>
        {% endif %}
    </nav>
</header>

{% block content %}
{% endblock %}

<footer>
    <p>
        Thoughts written here are my own and dont reflect any of my past, present
        or future employer's position.
        The platform behind this blog is <a href="https://sr.ht/~crocmagnon/blog">free software</a>.
        This blog and all articles by Gabriel Augendre are licensed under the
        <a href="http://creativecommons.org/licenses/by-sa/4.0/">CC BY-SA 4.0 International License</a>.
        Code blocks by Gabriel Augendre are licensed under the
        <a href="https://www.gnu.org/licenses/gpl-3.0.html">GNU GENERAL PUBLIC LICENSE version 3</a>.<br>
        Currently deployed version: <a href="{{ git_version_url }}">{{ git_version }}</a>
    </p>
</footer>
</body>
</html>
