{% load static %}
{% spaceless %}
    <!DOCTYPE html>
    <html lang="en">
        <head>
            <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1">
            <meta name="author" content="Gabriel Augendre">
            <meta name="color-scheme" content="light dark">
            <meta name="theme-color" content="#F6F8FA" media="(prefers-color-scheme: light)">
            <meta name="theme-color" content="#111111" media="(prefers-color-scheme: dark)">
            <title>{% block title %}Home | {% endblock %}{{ blog.title }} by {{ blog.author }}</title>
            {% block feed_link %}
                <link rel="alternate" type="application/rss+xml" title="{{ blog.title }}" href="{% url 'complete-feed' %}">
            {% endblock %}
            {% include "articles/snippets/analytics_head.html" %}
            {% include "articles/snippets/page_metadata.html" %}

            <link rel="stylesheet" href="{% static "vendor/newcss.css" %}" type="text/css">
            <link rel="stylesheet" href="{% static "public.css" %}" type="text/css">
            <link rel="stylesheet" href="{% static "admonitions.css" %}" type="text/css">
            <link rel="preload" href="{% static "vendor/fonts/golos-text-vf.woff2" %}" as="font" type="font/woff2">
            <link rel="stylesheet" href="{% static "vendor/fonts/golos.css" %}" type="text/css">
            {% if article and article.has_code %}
                <link rel="stylesheet" href="{% static "vendor/codehilite.css" %}" type="text/css">
                <link rel="preload" href="{% static "vendor/fonts/fira-code-vf.woff2" %}" as="font" type="font/woff2">
                <link rel="stylesheet" href="{% static "vendor/fonts/fira-code.css" %}">
            {% endif %}
            {% if user.is_authenticated %}
                <link rel="stylesheet" href="{% static "authenticated.css" %}">
            {% endif %}

            {% block append_css %}
            {% endblock %}

            {% include "articles/snippets/favicon.html" %}
        </head>
        <body>
            <header>
                <h1>{{ blog.title }}</h1>
                <p>{{ blog.description }}</p>
                {% include "articles/snippets/navigation.html" %}
            </header>
{% endspaceless %}

<main>
    {% block content %}
    {% endblock %}
</main>

{% spaceless %}
    <footer>
        <hr>
        <p>
            Thoughts written here are my own and don't reflect any of my past, present
            or future employer's position.
            The platform behind this blog is
            <a rel="noopener" target="_blank" href="{{ blog.repo.homepage }}">free software</a>.<br>
            Articles are released into the public domain through the
            <a rel="license noopener noreferrer"
               rel="noopener" target="_blank"
               href="{{ blog.licenses.content.url }}">
                {{ blog.licenses.content.name }}</a>.
            Code blocks are released into the public domain through
            <a rel="license"
               rel="noopener" target="_blank"
               href="{{ blog.licenses.code.url }}">
                {{ blog.licenses.code.name }}</a>.
            I do appreciate being mentioned as the original author if you decide
            to reuse my works but the licenses don't enforce it.<br>
            Currently deployed version:
            <a rel="noopener" target="_blank" href="{{ git_version_url }}">{{ git_version }}</a>.
            {% if blog.status_url %}
                I also have a public
                <a rel="noopener" target="_blank" href="{{ blog.status_url }}">status of services</a>
                page.
            {% endif %}
        </p>
    </footer>

    {% include "articles/snippets/analytics.html" %}
    {% if user.is_authenticated %}
        <script src="{% static 'edit-keymap.js' %}" async defer></script>
    {% endif %}
    {% if article and article.has_code %}
        <script src="{% static 'copy-code.js' %}" async defer></script>
    {% endif %}

    </body>
    </html>
{% endspaceless %}
