PYTHONUNBUFFERED=1
DJANGO_SETTINGS_MODULE=blog.settings
ADMINS="Gabriel Augendre|gabriel@augendre.info"
MAILGUN_API_KEY=API_KEY_HERE
MAILGUN_SENDER_DOMAIN=mg.gabnotes.org
BLOG_BASE_URL=http://localhost:8000/
SHORTPIXEL_API_KEY=API_KEY_HERE
HOSTS=192.168.0.1,192.168.0.2
PLAUSIBLE_DOMAIN=localhost:8000
GOATCOUNTER_DOMAIN=gabnotes-dev.goatcounter.augendre.info
SERVICES_STATUS_URL=https://stats.uptimerobot.com/5wKo4t0XqO
