body {
    /* Overriding so that it doesn't change even when updating the library. */
    max-width: 750px;
}

h1, h2, h3 {
    border-bottom: unset;
}

footer {
    font-size: 80%;
    color: var(--nc-tx-2);
}

footer > :first-child {
    margin-top: 1em;
}
